.customer{
    padding: 13rem 0 10rem 0;
    background-color: #F6F8FA;
}
.customer_info{
    width: 40%;
}
.customer_info p{
    margin: 2rem 0 2rem 0;
}
.icon{
    gap: 1rem;
    justify-content: start;
}
.customer_card1{
    width: 28%;
    background-color: #fff;
    padding: 5.7rem 2rem 5rem 3rem;
}
.user{
    gap: 1rem;
    justify-content: start;
}
.user p{
    line-height: 0;
}
.user img{
    margin-top: 3rem;
}
.views{
    margin-bottom: 2rem;
}
.container > .circle_btn{
    margin-right: 8rem;
}