.jeans{
    padding: 8.8rem 0;
    background-color: var(--card_bg);
}
.jeans_img{
    width: 50%;
}
.jeans_info{
    width: 50%;
}
.jeans_info button{
    padding: 1rem 3.6rem;
}
.clock{
    font-weight: 300;
    font-size: 38px;
    line-height: 60px;
    color: var(--title);
    font-family: "Outfit",sans-serif;
}
.clock > span{
    background-color: #fff;
    border-radius: 50%;
    width: 8.3rem;
    height: 8.3rem;
    display: inline-flex;
    justify-content: center;
    font-weight: 300;
    font-size: 30px;
    line-height: 60px;
    color: var(--title);
    margin-right: 1rem;
    font-family: "Outfit",sans-serif;
}
.clock_name{
    width: 43rem;
    justify-content: space-around;
}
.clock_name > span{
    font-family: 'Outfit';
    font-weight: 300;
    font-size: 16px;
    line-height: 60px;
    color: #34394C;
}
.price strike{
    margin-left: 3rem;
}
.price strike > span{
    font-family: "Outfit",sans-serif;
}